input[type="text"] {
	width: 70%;
}
input[type="number"] {
  width: 3em;
  padding: 0.2em 0.5em;
}
dd {
 margin-left: 0;
 margin-top: 0.2em;
}

table.table_for_layout {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 1em;
}
table.table_for_layout th, table.table_for_layout td {
  padding-right: 2em;
  border: none;
  background-color: transparent;
}

tr.set-split {
  height: 2em;
  font-size: 1.5em;
}

span.star {
  font-size: 0.7em;
  vertical-align: top;
}

footer {
  font-size: 0.75em;
  color: #DDD;
}

body {
  font-family: "Trebuchet MS", "Tahoma", "Verdana", "Sans-Serif";
  font-size: 14px;;
  background-image: url('/img/floor.png');
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.information {
  text-align: left;
  max-width: 80em;
  margin: 32px auto;
}

div#top-wall {
  background-image: url('/img/wall-top.png'); 
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
  height: 32px;
}

div#left-wall, div#right-wall {
  position: absolute;
  top: 32px;
  width: 32px;
  height: 100%;
  background-image: url('/img/wall-side.png'); 
  background-repeat: repeat-y;
}
div#left-wall {
  left: 0px;
}
div#right-wall {
  right: 0px;
}

h1, h2, h3, h4, h5 {
  font-family: "Lucida Grande", "Trebuchet MS", "Sans-Serif";
  color: #fce94f; 
}

h1 a, h1 a:visited {
  color: #fce94f; 
}

img { border: 0; }

h1 {
  margin-bottom: 3px;
}

h2 {
color: rgb(69, 136, 5);
}

h3 {
  margin-top: 10px;
  margin-bottom: 3px;
}
h4 {
  margin-bottom: 2px;
}

.brown {
  color: #8f5902;
}

.yellow {
  color: #fce94f;
}

.blue {
  color: #729fcf;
}

.border-brown {
  color: #7d623c;
}

hr {
  color: #ccc;
  height: 1px;
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 11px;
}

td, th {
  text-align: left;
  padding: 2px 4px;
}

th {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

body {
  color: #babdb6;
}

a, a:visited  {
  color: white;
  font-weight: bold;
}

.heading a, .heading a:visited  {
  color: #729fcf;
}

.heading h1 a, .heading h1 a:visited {
  color: #fce94f;
  text-decoration: none;
}

ul.charlist {
  list-style: none;
}
.charlist li {
  font-size: 1.5em;
  vertical-align: middle;
  padding-bottom: 0.5em;
}

.charlist img {
  vertical-align: middle;
}

.numeric {
  text-align: right;
}

tr.even td {
  background: #f0ffe0;
}

tr.odd td, tr.even td {
  color: #666;
}

tr.win td {
  font-weight: bold;
  color: #000;
}

#last_updated {
  color: #888;
  font-size: 8px;
  margin-top: 15px;
}

div.player_clan {
    width: 50%;
    background: #fffae0;
    border: 1px solid #ddd;
    padding: 15px;
}

div.content {
  position: relative;
}

div.content_centered {
    text-align: center;
}

div.centerable {
    margin-left: auto;
    margin-right: auto;
}

div#player-banners {
  position: absolute;
  padding-top: 10px;
  right: -62px;
}

div.player_status {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 15px;
    border-left: 1px solid #000;
}

.page {
 
    border: 1px solid black;
    outline: 2px solid #7d623c;
    background: black;
	
    position: relative;
}

.bannered {
  margin-right: 52px;
}

.page_narrow {
    border: 2px solid #333;
    background: #ffffff;
    margin: 20px;
    width: 70%;
}

.page_content {
    padding: 0px 5em 30px 5em;
}

/*
.content-bannered {
  padding-right: 80px;
}
*/

div.toplinks {
    margin: 0px 5em;
    color: #eee;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-right: 15px;
}

div.toplinks a:visited {
    text-decoration: none;
    background-color: #ffa;
}


table.grouping td, table.grouping th {
  padding: 0;
  padding-right: 25px;
}

table.bordered {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

div.bordered {
  border: 1px solid #ddd;
  padding: 7px 8px;
}

table.bordered_centered {
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
  vertical-align: top;
}

table.bordered td {
  padding: 6px;
  border: 1px solid #ddd;
  vertical-align: top;
}

table.bordered_centered td {
    margin: 6px;
    padding: 6px;
    border: 1px solid black;
    outline: 2px solid #7d623c;
    vertical-align: top;
}

table.bordered td.blank {
    border: 0px;
}

td.legend {
}

th {
    font-weight: bold;
    background: #fffae0;
    padding-left: 3px;
    padding-right: 3px;
}
